@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use 'colors';
@use 'palette' with ($theme: colors.$theme, $bw: false);
@use 'base' with ($theme: palette.$theme, $bw: false);

/*******************************/
/*           Header            */
/*******************************/
header {
  & > div:first-child {
    margin: 5mm 0 0 0;
    padding: 0;
    width: 100%;
    height: 4mm;
    background-color: map.get(palette.$theme, "primary");
  }
  & > div:nth-child(2) {
    margin: 0 0 5mm 0;
    padding: 0;
    width: 100%;
    height: 1mm;
    background-color: map.get(palette.$theme, "secondary");
  }
  padding-top: 2cm;
  margin-bottom: 5mm;
  border-bottom: 2px solid map.get(palette.$theme, "primary");

  &::before {
    content: "Note externe";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
  }

  div#masthead {
    display: grid;
    grid-template-columns: 50% 50%;

    h1 {
      grid-row: 3;
      grid-column: 1/3;
      text-align: center;
      margin: 0.3em 0;
      &::before { content: var(--title); }
    }

    div.cgr, div.date {
      border-bottom: 2px solid map.get(palette.$theme, "primary");
    }

    div.recipient, div.cc {
      border-top: 2px solid map.get(palette.$theme, "primary");
      padding-bottom: 1em;
    }


  }

}

@include base.attrtovar(title);
@include base.attrtovar(date);
@include base.attrtovar(author);
@include base.attrtovar(cgr);
@include base.attrtovar(version);
@include base.attrtovar(subtitle);
@include base.attrtovar(sender);
@include base.attrtovar(recipient);
@include base.attrtovar(cc);
@include base.attrtovar(attachments);

body header div#masthead div {
  display: none;
}

body:not([data-cgr]):not([data-version]) header div.cgr {
  display: none;
}

body[data-cgr] header div.cgr, body[data-version] header div.cgr {
  display: block;
  grid-row: 1;
  grid-column: 1;
}

body[data-cgr] header div.cgr::before {
  content: "Ineris - CGR-" var(--cgr);
}

body[data-version] header div.cgr::after {
  content: " - v" var(--version);
}

@mixin meta($element, $row, $column, $content, $collapse: true, $args...) {
  body:not([data-#{$element}]) header div#masthead div.#{$element} {
    @if $collapse {
      display: none;
    } @else {
      display: block;

      &::before { content: " "; }
    }
  }

  body[data-#{$element}] header div#masthead div.#{$element} {
    @each $prop, $value in meta.keywords($args) {
      #{$prop}: $value;
    }
    display: block;
    grid-row: $row;
    grid-column: $column;

    &::before {
      content: $content;
    }
  }
}

@include meta(date, 1, 2, var(--date), false);
@include meta(sender, 2, 1, "Entité émettrice : " var(--sender), false);
@include meta(author, 2, 2, "Rédacteur : " var(--author), false);
@include meta(subtitle, 4, list.slash(1, 3), var(--subtitle), false, $margin-bottom: 0.2em, $text-align: center, $font-weight: bold, $font-size: larger);
@include meta(recipient, 5, 1, "Destinataires : " var(--recipient));
@include meta(cc, 5, 2, "Copies : " var(--cc));
@include meta(attachments, 6, list.slash(1, 3), "PJ : " var(--attachments));


/*******************************/
/*      Inline elements        */
/*******************************/
strong {
  font-weight: bold;
  color: map.get(palette.$theme, "primary");
}

/*******************************/
/*         Page media          */
/*******************************/
@page {
	size: A4 portrait;
	margin-bottom: 1.5in;
	@bottom-right {
		height: 2cm;
		content: counter(page) "/" counter(pages);
		font-size: smaller;
	}
	@footnote {
		float: bottom;
	}
}
